.DS_Store
node_modules
/build
/coverage
/dist
/test-results
/tests/e2e/__snapshots__/.last-run.json
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
