# Dir
.conf
.github
.vite
bin
coverage
dist
logs
node_modules
resource
test/snapshots
tests/**/__snapshots__
test-results

# File
*.css
*.html
*-lock.*
*.lock
*.log
*.log*
.registry-*
_cleanup
_init
vite.config.js.timestamp-*
